<ion-view title="{{ confirmation.phone }}">
  <ion-nav-buttons side="right">
    <button ng-click="confirmation.confirm()" ng-disabled="!confirmation.code || confirmation.code.length === 0" class="button button-clear button-positive">Done</button>
  </ion-nav-buttons>

  <ion-content>
    <div class="text-center padding">
      Se envio un SMS de confirmacion al numero telefonico
    </div>
    <div class="text-center padding">
      Para completar agrega la verificación de tu numero telefonico, por favor, ingresa  el codigo de 4-digitos de activation.
    </div>

    <div class="list padding-top">
      <label class="item item-input">
        <input ng-model="confirmation.code" on-return="confirmation.confirm()" type="text" placeholder="Code">
      </label>
    </div>
  </ion-content>
</ion-view>